<div class="col-md-5 col-xs-5" id="signup">
	<h1>Sign Up!</h1>
		<div class="signup-form">
			<%= form_for(@user) do |f| %>
			<%= f.text_field :first_name, :placeholder => "First Name" %>
			<%= f.text_field :last_name, :placeholder => "Last Name" %>
			<%= f.email_field :email, :placeholder => "Email" %>
			<%= f.password_field :password, :placeholder => "Password" %>
		<div class="submit">
			<%= f.submit "Create an account", class: "btn-submit" %>
			<% end %>
		</div>
	</div>
</div>