<div class="projects">
	<% if current_user %>
		<div class="app-nav">
		<%= link_to new_project_path do %>
			<i class="material-icons">add_circle</i>
		<% end %>
	</div>
	<% end %>
		<div class="row">
			<% @projects.each do |p| %>
			<div class="col-md-6 col-xs-12">
				<%= link_to project_path(p), :class => "pull-right" do %>
					<img class="img-responsive" id="thumbs" src="<%= p.image %>">
				<% end %>
				<div class="project-name">
				<p><%= p.name %></p> 
				<% if current_user %>
					<%= link_to edit_project_path(p) do %>
					<i class="material-icons">edit_mode</i>
					<% end %>
				<% end %>
				</div>
			</div>
			<% end %>
		</div>
</div>
<div class="clear-fix">
</div>