<!DOCTYPE html>
<html>
<head>
  <title>Rodrigo Meono</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="author" content="Sofinteractive" />
  <meta name="description" content="Guatemalan visual artist." />
	<meta name="keywords"  content="Rodrigo Meono, sofinteractive, Travel Photography, Photography of Experiences, Guatemala" />
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   	<!--font awesome-->
  <script src="https://use.fontawesome.com/811422e9bc.js"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <!-- google fonts -->
       <link href="https://fonts.googleapis.com/css?family=Damion|Lobster+Two" rel="stylesheet"> 
       <!-- mobile -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '970327136433719'); // Insert your pixel ID here.
fbq('track', 'PageView');
fbq('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=970327136433719&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
<!-- Latest compiled and minified JavaScript for bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body id="bs-over">
	<div class="top" id="top">
	</div>
	<div class="menu">
		<div class="icon-close">
			<i class="material-icons">&#xE5CD;</i>
		</div>
			<ul>
				<li><%= link_to "Home", '/'%></li>
				<li><%= link_to "Collections", '/collections'%></li>
				<li><%= link_to "Photography", '/projects'%></li>
				<li><%= link_to "Video", '/videos'%></li>
				<li><%= link_to "Music", '/djay-recordings'%></li>
				<li><%= link_to "About", '/about'%></li>
				<li><%= link_to "Contact", '/contacts' %></li>
				<% unless current_user %>
				<li id="span"><%= link_to "Login", '/login' %></li>
				<% end %>
				<% if current_user %>
				<li id="span"> <%=link_to 'Logout', logout_path, method: 'delete' %></li>
				<% end %>
			</ul>
	</div>
	<div class="header">
		<div class="top-nav">
			<div class="mobile-nav">
			<%= link_to root_path do %>
			<h1>Rodrigo Meono</h1>
			<% end %>
			</div>
			<ul class="pull-right">
				<li><%= link_to "Collections", '/collections'%></li>
				<li><%= link_to "Photography", '/projects'%></li>
				<li><%= link_to "Video", '/videos'%></li>
				<li><%= link_to "Music", '/djay-recordings'%></li>
				<li><%= link_to "About", '/about'%></li>
				<li><%= link_to "Contact", '/contacts' %></li>
				<% unless current_user %>
				<li id="login"><%= link_to "Login", '/login' %></li>
				<% end %>
				<% if current_user %>
				<li id="logout"> <%=link_to 'Logout', logout_path, method: 'delete' %></li>
				<% end %>
			</ul>
			<i class="material-icons" id="icon-menu">&#xE5D2;</i>
		</div>
		<div class="main-nav">
		</div>
	</div>

	<!--email icon-->
		<div class="email-button">
			<div class="container">
			<i class="material-icons md-36" id="email"><a href="/contacts">&nbsp;&#xE8AF;</a></i>
			</div>
		</div>
<%= yield %>

<div class="footer">
	<div class="container">
		<p id="sofilink">Powered by <a target="_blank" href="https://sofinteractive.herokuapp.com">Sofinteractive</a></p>
		<ul class="pull-right">
			<li><%= link_to 'https://www.facebook.com/rodrigomeonofoto', target: :_blank do %><i class="fa fa-facebook" aria-hidden="true"></i><% end %>
</li>
			<li><%= link_to 'https://www.instagram.com/rodrigomeono/', target: :_blank do %><i class="fa fa-instagram" aria-hidden="true"></i><% end %>
</li>
			<li><%= link_to 'mailto:rodrigo.me13@gmail.com?Subject=Hello' do %><i class="fa fa-envelope-o" aria-hidden="true"></i><% end %> </li>
		</ul>
	</div>
</div>
<!-- Latest compiled and minified JavaScript for bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!-- mobile nav bar -->
	<script type="text/javascript">
	
	var main = function() {

	
    $('.dropdown-toggle').dropdown();	

	/* Push the body and the nav over by 480px over */
  $('#icon-menu').click(function() {
  	$('#icon-menu').css('background-color','#000');
    $('.menu').animate({
      right: "0px"
    }, 200);

    $('body').animate({
      right: "220px"
    }, 200);

  });

  /* Then push them back */
  $('.icon-close').click(function() {
  	$('#icon-menu').css('background-color', '#fff');
    $('.menu').animate({
      right: "-220px"
    }, 200);

    $('body').animate({
      right: "0px"
    }, 200);

});

};
$(document).ready(main);

	</script>
</body>
</html>
